.pe-attributes-grid {
    min-height: 20rem;
}

.pe-item-dialog {
    min-width: 35em;
    max-width: 70em;
}

.pe-dialog-title {
    padding: 0.7rem 1rem;
}

.pe-attribute-dialog {
    min-width: 35rem;
    max-width: 70rem;
}
