.pe-attributes-grid {
    min-height: 20em;
}

.pe-item-dialog {
    min-width: 30em;
    max-width: 60em;
}

.pe-dialog-title {
    padding: 0.7rem 1rem;
}

.pe-attribute-dialog {
    min-width: 30em;
    max-width: 60em;
}
