@page "/employeecase"
@page "/employeecase/{caseName}"
@inherits NewCaseBase;

@if (!HasFeature(Feature.EmployeeCases))
{
    NavigateHome();
    return;
}
@if (!HasTenant)
{
    <div>Please select a tenant</div>
    return;
}
@if (!HasPayroll)
{
    <div>Please select a payroll</div>
    return;
}
@if (!HasEmployee)
{
    <div>Please select an employee</div>
    return;
}

@{
    // BuildRenderTree needs to be called otherwise inherited HTML won't be rendered.
    // Might be changed/"fixed" in the future, see: https://github.com/dotnet/aspnetcore/issues/21664
    base.BuildRenderTree(__builder);
}
