@page "/nationalcase"
@page "/nationalcase/{caseName}"
@inherits NewCasePageBase;

@* missing feature *@
@if (!HasFeature(Feature.NationalCases))
{
    NavigateHome();
    return;
}
@* missing tenant *@
@if (!HasTenant)
{
    <div>@Localizer.App.SelectTenant</div>
    return;
}
@* missing payroll *@
@if (!HasPayroll)
{
    <div>@Localizer.App.SelectPayroll</div>
    return;
}

@{
    // BuildRenderTree needs to be called otherwise inherited HTML won't be rendered.
    // Might be changed/"fixed" in the future, see: https://github.com/dotnet/aspnetcore/issues/21664
    base.BuildRenderTree(__builder);
}
