@page "/nationalcase"
@page "/nationalcase/{caseName}"
@inherits NewCasePageBase;

@if (!HasFeature(Feature.NationalCases))
{
    NavigateHome();
    return;
}
@if (!HasTenant)
{
    <div>Please select a Tenant</div>
    return;
}
@if (!HasPayroll)
{
    <div>Please select a Payroll</div>
    return;
}

@{
    // BuildRenderTree needs to be called otherwise inherited HTML won't be rendered.
    // Might be changed/"fixed" in the future, see: https://github.com/dotnet/aspnetcore/issues/21664
    base.BuildRenderTree(__builder);
}
